/* /Pages/Index.razor.rz.scp.css */
.rectangle-container[b-vh8uelhf5x] {
    height: 50vh;
    width: 100%;
    border: 1px solid #ccc;

}

.rectangle[b-vh8uelhf5x] {
    display: inline-block;
    border: 1px solid blue;
    width: 10px;
}
.wrapper[b-vh8uelhf5x] {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align:center;
    width: 100%;
    height: 100%;
}

.separator[b-vh8uelhf5x] {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.line[b-vh8uelhf5x] {
    flex-grow: 1;
    height: 6px;
    background-color: #424242;
}

.separator-text[b-vh8uelhf5x] {
    padding: 0 2px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
}

.slider-container[b-vh8uelhf5x] {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slider-label[b-vh8uelhf5x], .slider-value[b-vh8uelhf5x] {
    flex: 1;
    margin-right: 10px;
    color: #333;
    font-size: 1.05rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.slider[b-vh8uelhf5x] {
    flex: 3;
    width: 100%;
    background-color: #286cbb; 
    appearance: none;
    height: 6px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.slider[b-vh8uelhf5x]::-webkit-slider-thumb:hover {
    /* Darken color on thumb hover */
    background-color: #163e6b; 
}

.slider-value[b-vh8uelhf5x] {
    flex: 1;
    text-align: right;
}

.sorting-buttons[b-vh8uelhf5x] {
    margin: 0;
    text-align: center;
    padding-bottom: 1.1rem;
}

.settings-buttons[b-vh8uelhf5x] {
    margin: 0;
    text-align: center;
    padding-bottom: 1.1rem;
}

.settings-button[b-vh8uelhf5x] {
    background-color: #333;
    padding: 0.4rem 1rem 0.4rem 1rem;
    letter-spacing: 2px;
}

.settings-button:hover[b-vh8uelhf5x] {
    background-color: rgb(34, 34, 34);
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-e9rcwf51ct] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-e9rcwf51ct] {
    flex: 1;
}

@media (min-width: 641px) {
    .page[b-e9rcwf51ct] {
        flex-direction: row;
    }
}

.header[b-e9rcwf51ct] {
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 0.75rem;
}

.title[b-e9rcwf51ct] {
    letter-spacing: 0.1em;
    font-size: 1.15rem;
    margin: 0;
}
