@inherits LayoutComponentBase

<PageTitle>to_do_blazor</PageTitle>

<div class="page">
    <main>
        <div class="header">
            <h1 class="title">SORTING ALGORITHMS VISUALIZATION</h1>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
